xxxxxxxxxxxxxx@XXX.com
xxxxxxxxxxxxxx
smtp.XXX.com
xxxxxxxxxxxxxx@XXX.com

modify line[0:4] to your email information
line[0]: email address to send email
line[1]: email password to send email
line[2]: email smtp server to send email
line[3]: email address to receive email
